In [1]:
import pandas as pd

In [12]:
casas101_df = pd.read_csv('hh101/ann.csv',header=None)
casas125_df = pd.read_csv('hh125/ann.csv',header=None)
print(casas101_df)
print(casas125_df)

                 0         1        2      3    4
0       2012-07-18  12:54:45     D001  CLOSE  NaN
1       2012-07-18  12:54:45     D002   OPEN  NaN
2       2012-07-18  12:54:45     T102     78  NaN
3       2012-07-18  12:54:45  BATP102     85  NaN
4       2012-07-18  12:54:45  BATV102   2830  NaN
...            ...       ...      ...    ...  ...
326061  2012-09-17  23:52:19     M012    OFF  NaN
326062  2012-09-17  23:53:10     M012     ON  NaN
326063  2012-09-17  23:53:12     M012    OFF  NaN
326064  2012-09-17  23:53:15     M012     ON  NaN
326065  2012-09-17  23:53:16     M012    OFF  NaN

[326066 rows x 5 columns]
                 0         1     2    3                 4    5
0       2013-03-01   1:08:59  M015   ON  Sleep_Out_Of_Bed  NaN
1       2013-03-01   1:09:00  M015  OFF  Sleep_Out_Of_Bed  NaN
2       2013-03-01   1:40:35  M015   ON  Sleep_Out_Of_Bed  NaN
3       2013-03-01   1:40:37  M015  OFF  Sleep_Out_Of_Bed  NaN
4       2013-03-01   1:54:27  M015   ON  Sleep_Out_Of_Bed  NaN
...            ...       ...   ...  ...               ...  ...
216250  2013-04-30  19:40:17  M015  OFF  Sleep_Out_Of_Bed  NaN
216251  2013-04-30  20:05:50  M017   ON  Sleep_Out_Of_Bed  NaN
216252  2013-04-30  20:05:52  M017  OFF  Sleep_Out_Of_Bed  NaN
216253  2013-04-30  22:12:40  M015   ON  Sleep_Out_Of_Bed  NaN
216254  2013-04-30  22:12:41  M015  OFF  Sleep_Out_Of_Bed  NaN

[216255 rows x 6 columns]

In [16]:
contextAct_df = pd.read_csv('ContextAct@A4H/ContextAct.csv',header=None, sep=',', engine='python')
print(contextAct_df)

                             0                                  1   \
0       2016-07-25 15:47:00,150               tv_salon_real_status
1       2016-07-25 15:47:02,885              tv_bureau_real_status
2       2016-07-25 15:47:06,001              Intensite_Chauffe_Eau
3       2016-07-25 15:47:06,673     Energie_Totale_Volets_Roulants
4       2016-07-25 15:47:06,689  Energie_Partielle_Volets_Roulants
...                         ...                                ...
604284  2016-08-01 10:05:21,960                       Gaz_Logement
604285  2016-08-01 10:05:21,960                           E_active
604286  2016-08-01 10:05:21,960                        Freq_totale
604287  2016-08-01 10:05:23,632                            CO2_SDB
604288  2016-08-01 10:05:26,976                   Humidite_Chambre

                2    3    4    5    6    7    8    9    10   11   12   13  \
0               ON  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1              OFF  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2                0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3             2681  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4             2681  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...            ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
604284       83396  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
604285     1540.84  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
604286  49.9897575  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
604287      225.92  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
604288          57  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

         14   15   16
0       NaN  NaN  NaN
1       NaN  NaN  NaN
2       NaN  NaN  NaN
3       NaN  NaN  NaN
4       NaN  NaN  NaN
...     ...  ...  ...
604284  NaN  NaN  NaN
604285  NaN  NaN  NaN
604286  NaN  NaN  NaN
604287  NaN  NaN  NaN
604288  NaN  NaN  NaN

[604289 rows x 17 columns]